<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <div class="button-container">
      <button id="toggleButton" onclick="darkMode()">Change Color Theme</button>
      </div>
    <div class="welcome-header">
     <h2>Welcome&nbsp;</h2><h2 class="userName"><%= user.username.toUpperCase() %></h2>
     </div>

    <div class="navigation">

      <a class="newpost" href="/newpost">Create Post</a>
      <a class="logout" href="/logout">Logout</a>
      
    </div>

    <div class="post-section">

      <% if (posts.length > 0) { %>
        <% posts.sort((a, b) => b.createdAt - a.createdAt).forEach(post => { %>
          <div class="post">
            <h2><%= post.title.toUpperCase() %></h2>
            <p class="post-content"><%= post.content %></p>
            <p class="signature">Sign: <%= post.signature %></p>
            <p class="timestamp">Date: <%= post.createdAt.toLocaleString() %></p>
            
          
            <form action="/deletepost/<%= post._id %>" method="POST" class="delete-form">
              <button type="submit" class="delete-button">Delete</button>
            </form>
          </div>
        <% }) %>
      <% } else { %>
        <p>No posts yet.</p>
      <% } %>
    </div>
  </div>

  <footer class="footer">
    <p>&copy; 2024 Rydqvist Blog.</p>
  </footer>


  <script>
    // Funktion för att sätta temat baserat på localstorage
function setTheme() {
  const isDarkMode = localStorage.getItem('darkMode') === 'true';
  const bodyElement = document.body;
  const containerElement = document.querySelector('.container');

  if (isDarkMode) {
    bodyElement.classList.add('dark-mode');
    containerElement.classList.add('dark-mode-container');
  }
}

// Funktion för att byta temat
function darkMode() {
  var element = document.body;
  var containerElement = document.querySelector('.container');

  element.classList.toggle("dark-mode");
  containerElement.classList.toggle("dark-mode-container");

  // Spara temainställningen i localstorage
  const isDarkMode = element.classList.contains('dark-mode' || 'dark-mode-container');
  localStorage.setItem('darkMode', isDarkMode.toString());
}

// Anropa setTheme vid sidans laddning för att sätta temat
document.addEventListener('DOMContentLoaded', setTheme);

  </script>
  
</body>
</html>
